<template>
  <b-collapse
    :key="item.id"
    animation="slide"
    :open="false"
    class="market-item"
  >
    <template #trigger>
      <div class="market-item__header">
        <img
          :src="item.avatar"
          :alt="item.name"
          class="market-item__avatar"
        >
        <div class="market-item__name">
          {{ item.name }}
        </div>
        <div class="market-item__price">
          {{ item.price }}
        </div>
      </div>
    </template>
    <div class="market-item__content">
      <div class="market-item__bio">
        <h5 class="market-item__content-title">
          About me:
        </h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Vel quo id magni, aliquid itaque excepturi quibusdam doloremque tempora,
        inventore exercitationem soluta accusantium, eius autem harum!
      </div>
      <div class="market-item__features">
        <h5 class="market-item__content-title">
          What do you get:
        </h5>
        <ul class="market-item__features-list">
          <li>Answer to any question</li>
          <li>My hobbies</li>
          <li>Favourite food, music, etc.</li>
          <li>Exclusive messages</li>
          <li>My schedule(daily calendar)</li>
        </ul>
      </div>
      <div class="market-item__content-btn">
        <b-button
          size="is-small"
          type="is-primary"
          rounded
          :disabled="!item.available"
        >
          {{ item.available ? 'Subscribe' : 'Sold out' }}
        </b-button>
      </div>
    </div>
  </b-collapse>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.market-item {
  &__header {
    display: flex;
    justify-content: flex-start;
    padding: 8px 8px 8px 4px;
    border-radius: 12px;
    margin-bottom: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: lighten($bgColor, 10%);
    }
  }

  &__name {
    font-size: 12px;
    flex-grow: 1;
    margin: 0 8px;
    align-self: center;
    color: $textColor;
  }

  &__avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  &__price {
    align-self: center;
    color: $textColor;
    font-size: 14px;
  }

  &__content {
    position: relative;
    margin-bottom: 8px;
    &-title {
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 2px;
    }
    &-btn {
      margin-top: 14px;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__bio, &__features {
    color: $textColor;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__features {
    &-list {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}
</style>
