<template>
  <div class="market">
    <h2 class="market__title">
      Marketplace
    </h2>
    <div class="market__list">
      <MarketItem
        v-for="item in items"
        :key="item.id"
        :item="item"
      />
    </div>
  </div>
</template>

<script>
import MarketItem from '@/components/TheMarket/MarketItem.vue'
import { load, MARKET_DATA_KEY } from '@/utils/storage'

export default {
  components: {
    MarketItem,
  },
  data() {
    return {
      items: load(MARKET_DATA_KEY),
    }
  },
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/_variables.scss';
.market {
  position: relative;
  padding: 0 6px;
  height: 626px;
  overflow-y: auto;
  &__title {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 6px;
    display: block;
    color: $textColor;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
  }
}
</style>
