<template>
  <div
    :key="user.id"
    class="chat-item"
    @click="$emit('setActiveUser', user)"
  >
    <img
      :src="user.avatar"
      :alt="user.id"
      class="chat-item__avatar"
    >
    <div class="chat-item__content">
      <div class="chat-item__name">
        {{ user.name }}
      </div>
      <div
        v-if="lastMessage"
        class="chat-item__message"
        v-html="ellipsis(mdToHtml(lastMessage.content), 35)"
      />
    </div>
    <div class="chat-item__side-content">
      <div
        v-if="lastMessage"
        class="chat-item__date"
      >
        {{ lastMessage.date | rawToDate }}
      </div>
      <div
        v-if="unreadCount"
        class="chat-item__unread"
      >
        {{ unreadCount }}
      </div>
    </div>
  </div>
</template>

<script>
import { mdToHtml } from '../../utils/mdToHtml'
import { ellipsis } from '../../utils/ellipsis'

export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  computed: {
    lastMessage() {
      return this.user.messages[
        this.user.messages.length - 1
      ]
    },

    unreadCount() {
      return this.user.messages.reduce((acc, curr) => {
        if (curr.unread) return acc + 1
        return acc
      }, 0)
    },
  },

  methods: {
    mdToHtml,
    ellipsis,
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.chat-item {
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 4px;
  border-radius: 12px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: lighten($bgColor, 10%);
  }
  &__avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  &__content {
    margin: 0 8px;
    align-self: center;
    color: $textColor;
    flex-grow: 1;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
  }

  &__message {
    font-size: 12px;
  }

  &__side-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
  }

  &__unread {
    margin-top: 5px;
    font-size: 10px;
    background-color: $textColor;
    width: 16px;
    padding-left: 1px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
  }

  &__date {
    font-size: 10px;
    color: $textColor;
  }
}
</style>
