<template>
  <div class="calendar">
    <Calendar
      :calendar-data="calendarData"
      @dayclick="handleDayClick"
    />
    <CalendarEvent
      v-if="selectedTask"
      :task="selectedTask"
      type="user"
      :can-add-event="canAddEvent"
      @action="handleAddEvent"
    />
  </div>
</template>

<script>
import Calendar from '@/components/TheCalendar/Calendar.vue'
import CalendarEvent from '@/components/TheCalendar/CalendarEvent.vue'
import { getHighlightByUser } from '../../utils/getHighlightByUser'

import {
  USERS_TASKS_KEY, MY_TASKS_KEY, load, save,
} from '../../utils/storage'

export default {
  components: {
    Calendar,
    CalendarEvent,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      tasks: load(USERS_TASKS_KEY),
      myTasks: load(MY_TASKS_KEY),
      selectedTask: null,
    }
  },

  computed: {
    userTasks() {
      return this.tasks.filter(task => task.from === this.user.name)
    },

    calendarData() {
      return this.userTasks.map(task => ({
        key: task.id,
        highlight: getHighlightByUser(task.from),
        dates: new Date(task.date),
        popover: {
          label: `From: ${task.from}`,
        },
      }))
    },

    canAddEvent() {
      return !(this.myTasks.findIndex(t => t.id === this.selectedTask.id) + 1)
    },
  },

  methods: {
    handleDayClick({ date }) {
      const task = this.userTasks.find(t => t.date === date.getTime())
      this.selectedTask = task
    },

    handleAddEvent() {
      this.myTasks.push(this.selectedTask)
      save(this.myTasks, MY_TASKS_KEY)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.calendar {
  position: relative;
  padding: 0 6px;
}
</style>
