<template>
  <form
    class="controls"
    @submit.prevent="handleSend"
  >
    <b-field>
      <b-select
        v-model="selectedUser"
        expanded
      >
        <option
          value=""
          disabled
        >
          Choose user
        </option>
        <option
          v-for="user in users"
          :key="user.id"
          :value="user"
        >
          {{ user.name }}
        </option>
      </b-select>
    </b-field>
    <b-field>
      <b-input
        v-model="message"
        maxlength="255"
        type="textarea"
        placeholder="Markdown syntax message"
      />
    </b-field>
    <b-button
      type="is-primary"
      native-type="submit"
      expanded
    >
      Send
    </b-button>
  </form>
</template>

<script>
export default {
  props: {
    users: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      selectedUser: '',
      message: '',
    }
  },

  methods: {
    handleSend() {
      this.$emit('sendMessage', this.message, this.selectedUser)
      this.message = ''
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.controls {
  position: absolute;
  top: 180px;
  right: -500px;
  width: 400px;
}
</style>
