<template>
  <div class="chat-details">
    <div class="header">
      <button
        class="header__back"
        @click="$emit('resetActiveUser')"
      >
        <i class="bx bx-chevron-left" />
      </button>
      <img
        :src="user.avatar"
        :alt="user.id"
        class="header__avatar"
      >
      <div class="header__content">
        <div class="header__name">
          {{ user.name }}
        </div>
        <div class="header__status">
          Online
        </div>
      </div>
      <div class="header__actions">
        <button
          class="header__calendar"
          @click="toggleShowTypeType"
        >
          <i
            class="bx"
            :class="showType === 'chat' ? 'bx-calendar' : 'bx-chat'"
          />
        </button>
      </div>
    </div>
    <template v-if="showType === 'chat'">
      <ChatDetailsMessages
        :messages="user.messages"
      />
      <ChatDetailsInput @sendMessage="sendMessage($event)" />
    </template>
    <template v-else>
      <ChatDetailsCalendar :user="user" />
    </template>
  </div>
</template>

<script>
import ChatDetailsMessages from '@/components/TheChat/ChatDetailsMessages.vue'
import ChatDetailsInput from '@/components/TheChat/ChatDetailsInput.vue'
import ChatDetailsCalendar from '@/components/TheChat/ChatDetailsCalendar.vue'

export default {
  components: {
    ChatDetailsMessages,
    ChatDetailsInput,
    ChatDetailsCalendar,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      showType: 'chat',
    }
  },

  created() {
    this.markMessagesRead()
  },

  methods: {
    sendMessage(message) {
      this.$emit('sendMessage', message, this.user)
    },

    handleSuggestionClick(suggestion) {
      this.$emit('sendMessage', suggestion, this.user)
    },

    toggleShowTypeType() {
      this.showType = this.showType === 'chat' ? 'calendar' : 'chat'
    },

    markMessagesRead() {
      this.$emit('markMessagesRead', this.user)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';

.chat-details {
  position: absolute;
  top: -12px;
  z-index: 2;
  left: 0;
  right: 0;
  background-color: $bgColor;
  bottom: 0;
  height: 683px;
  border-bottom-right-radius: 34px;
  border-bottom-left-radius: 34px;
}

.header {
  background-color: darken($bgColor, 3%);
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  &__back, &__calendar {
    border: none;
    outline: none;
    background: none;
    color: $textColor;
    cursor: pointer;
    padding: 0;
    font-size: 24px;
  }
  &__calendar {
    justify-self: flex-end;
  }
  &__avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 8px;
  }
  &__content {
    margin-left: 8px;
    color: $textColor;
    flex-grow: 1;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
  }
  &__status {
    font-size: 10px;
  }
}
</style>
