<template>
  <div class="messages">
    <template v-if="reversedMessages.length">
      <div
        v-for="msg of reversedMessages"
        :key="msg.id"
        class="message-item"
        :class="msg.isMy && 'message-item--my'"
      >
        <p
          class="message-item__content"
          v-html="mdToHtml(msg.content)"
        />
        <div class="message-item__time">
          {{ msg.date | rawToDate(true) }}
        </div>
      </div>
    </template>
    <template v-else>
      <div class="messages__empty">
        No messages yet
      </div>
    </template>
  </div>
</template>

<script>
import { mdToHtml } from '../../utils/mdToHtml'

export default {
  props: {
    messages: {
      type: Array,
      required: true,
    },
  },

  computed: {
    reversedMessages() {
      return this.messages.slice().reverse()
    },
  },

  methods: {
    mdToHtml,
  },

}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.messages {
  position: relative;
  padding: 0 8px;
  display: flex;
  flex-direction: column-reverse;
  height: 564px;
  overflow-y: auto;
  &__empty {
    background: #333;
    border-radius: 16px;
    padding: 8px 12px;
    font-size: 12px;
    color: $textColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.message-item {
  margin-bottom: 8px;
  background: #333;
  border-radius: 16px;
  min-width: 35%;
  align-self: flex-start;
  position: relative;

  border-bottom-left-radius: 0;

  &--my {
    align-self: flex-end;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 0;
  }

  &__content {
    white-space: pre-line;
    padding: 8px 12px 2px;
    font-size: 12px;
    background-color: transparent;
    color: $textColor;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  &__time {
    padding-right: 8px;
    padding-bottom: 3px;
    text-align: right;
    font-size: 10px;
    letter-spacing: -0.3px;
    color: darken(#fbfbfb, 40%);
  }
}
</style>
