<template>
  <div class="message-input">
    <div
      v-show="message.length && suggestions.length"
      class="message-input__suggestion"
    >
      <div
        v-if="suggestions.length"
        key="suggestion-list"
        class="message-input__suggestion-list"
      >
        <div
          v-for="suggestion in suggestions"
          :key="suggestion"
          class="message-input__suggestion-list-item"
          @click="handleSuggestionClick(suggestion)"
        >
          {{ suggestion }}
        </div>
      </div>
      <div
        v-else
        key="suggestion-empty"
        class="message-input__suggestion-empty"
      >
        No suggestions
      </div>
    </div>
    <input
      v-model="message"
      type="text"
      class="message-input__field"
      placeholder="Ask me anything"
      @keydown.enter="sendMessage"
    >
    <button
      class="message-input__button"
      @click="sendMessage"
    >
      <i class="bx bx-send" />
    </button>
  </div>
</template>

<script>
import { getSuggestion } from '../../utils/questions'

export default {
  props: {},

  data() {
    return {
      message: '',
      suggestions: [],
    }
  },

  watch: {
    message() {
      this.suggestions = getSuggestion(this.message)
    },
  },

  methods: {
    sendMessage() {
      this.$emit('sendMessage', this.message)
      this.message = ''
    },

    handleSuggestionClick(suggestion) {
      this.$emit('sendMessage', suggestion)
      this.message = ''
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.message-input {
  position: relative;
  height: 41px;
  margin-top: 5px;

  &__suggestion {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: rgba(darken($bgColor, 3%), 0.95);
    border-bottom: 1px solid $bgColor;
    &-empty {
      padding: 10px 12px;
      font-size: 12px;
      color: darken($textColor, 25%);
    }
    &-list {
      &-item {
        padding: 10px 12px;
        font-size: 12px;
        border-bottom: 1px solid $bgColor;
        color: darken($textColor, 25%);
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          color: darken($textColor, 45%);
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &__field {
    background-color: darken($bgColor, 3%);
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 0;
    padding-left: 12px;
    padding-right: 40px;
    color: $textColor;
    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: darken($textColor, 50%);
      font-size: 14px;
    }
  }
  &__button {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    color: $textColor;
    cursor: pointer;
    padding: 0;
    font-size: 24px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 24px;
  }
}
</style>
