<template>
  <div class="chat">
    <h2 class="chat__title">
      Mentors
    </h2>
    <template v-if="!activeUser">
      <ChatItem
        v-for="user in sortedUsers"
        :key="user.id"
        :user="user"
        @setActiveUser="setActiveUser"
      />
    </template>
    <template v-else>
      <ChatDetails
        :user="activeUser"
        @resetActiveUser="resetActiveUser"
        @sendMessage="handleSendUserMessage"
        @markMessagesRead="handleMarkMessagesRead"
      />
    </template>
    <ChatControls
      :users="users"
      @sendMessage="handleSendMentorMessage"
    />
  </div>
</template>

<script>
import uniqid from 'uniqid'

import ChatItem from '@/components/TheChat/ChatItem.vue'
import ChatDetails from '@/components/TheChat/ChatDetails.vue'
import ChatControls from '@/components/TheChat/ChatControls.vue'

import { save, load, USERS_KEY } from '@/utils/storage'
import { getQuestionType } from '@/utils/questions'
import { sleep } from '@/utils/sleep'

export default {
  components: {
    ChatItem,
    ChatDetails,
    ChatControls,
  },

  data() {
    return {
      activeUser: null,
      users: load(USERS_KEY),
    }
  },

  computed: {
    sortedUsers() {
      const getLastMessage = user => user.messages && user.messages[user.messages.length - 1]

      return this.users.slice().sort((userA, userB) => {
        const lastMessageA = getLastMessage(userA)
        const lastMessageB = getLastMessage(userB)

        if (!lastMessageA) return 1
        if (!lastMessageB) return 0

        return lastMessageB.date - lastMessageA.date
      })
    },
  },

  methods: {
    setActiveUser(user) {
      this.activeUser = user
    },

    resetActiveUser() {
      this.activeUser = null
    },

    handleSendMentorMessage(message, user) {
      const mentor = this.users.find(u => u.id === user.id)
      mentor.messages.push({
        id: uniqid('id'),
        content: message,
        date: Date.now(),
        isMy: false,
        unread: (this.activeUser && this.activeUser.id) !== mentor.id,
        from: 'app',
      })
      save(this.users, USERS_KEY)
    },

    async handleSendUserMessage(message) {
      this.activeUser.messages.push({
        id: uniqid('id'),
        content: message,
        date: Date.now(),
        isMy: true,
        unread: false,
        from: 'app',
      })

      await sleep(1000)

      const type = getQuestionType(message)
      const answer = {
        id: uniqid('id'),
        date: Date.now(),
        isMy: false,
        content:
          this.activeUser.info[type]
          || 'Sorry, I can`t answer to your question right now, but I`ll try to answer later',
        unread: false,
        from: 'app',
      }

      this.activeUser.messages.push(answer)

      save(this.users, USERS_KEY)
    },

    handleMarkMessagesRead(user) {
      const mentor = this.users.find(u => u.id === user.id)

      mentor.messages = mentor.messages.map(message => ({
        ...message,
        unread: false,
      }))

      save(this.users, USERS_KEY)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_variables.scss';
.chat {
  position: relative;
  padding: 0 6px;
  height: 100%;
  &__title {
    margin-bottom: 16px;
    margin-top: 12px;
    margin-left: 6px;
    display: block;
    color: $textColor;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
  }
}
</style>
