<template>
  <v-calendar
    is-dark
    color="purple"
    is-expanded
    title-position="left"
    :attributes="calendarData"
    @dayclick="$emit('dayclick', $event)"
  />
</template>

<script>
export default {
  props: {
    calendarData: {
      type: Array,
      required: true,
    },
  },
}
</script>
