<template>
  <div
    class="calendar-event"
  >
    <div class="calendar-event__content">
      <div class="calendar-event__user">
        {{ task.from }}
      </div>
      <div class="calendar-event__title">
        {{ task.text }}
      </div>
      <div class="calendar-event__date">
        {{ task.date | formatDate }}
      </div>
    </div>
    <div class="calendar-event__actions">
      <b-button
        v-if="type === 'user'"
        :type="canAddEvent ? 'is-success' : 'is-info'"
        size="is-small"
        rounded
        :disabled="!canAddEvent"
        @click="$emit('action')"
      >
        {{ canAddEvent ? 'Add event' : 'Already added' }}
      </b-button>
      <b-button
        v-else-if="type === 'my'"
        type="is-danger"
        size="is-small"
        rounded
        @click="$emit('action')"
      >
        Remove event
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    canAddEvent: {
      type: Boolean,
      required: false,
    },
  },

}
</script>

<style scoped lang="scss">
@import '@/assets/styles/_variables.scss';
.calendar-event {
  margin-top: 12px;
  margin-left: 10px;
  color: $textColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__user {
    font-weight: bold;
    font-size: 14px;
  }
  &__title {
    font-size: 12px;
  }
  &__date {
    margin-top: 3px;
    font-size: 11px;
    color: darken($textColor, 45%);
  }
}
</style>
