<template>
  <div class="calendar">
    <h2 class="calendar__title">
      My calendar
    </h2>
    <Calendar
      :calendar-data="calendarData"
      @dayclick="handleDayClick"
    />
    <CalendarEvent
      v-if="selectedTask"
      :task="selectedTask"
      type="my"
      @action="removeSelectedTask"
    />
  </div>
</template>

<script>
import Calendar from '@/components/TheCalendar/Calendar.vue'
import CalendarEvent from '@/components/TheCalendar/CalendarEvent.vue'

import { load, save, MY_TASKS_KEY } from '../../utils/storage'
import { getHighlightByUser } from '../../utils/getHighlightByUser'

export default {
  components: {
    Calendar,
    CalendarEvent,
  },

  data() {
    return {
      tasks: load(MY_TASKS_KEY),
      selectedTask: null,
    }
  },

  computed: {
    calendarData() {
      return this.tasks.map(task => ({
        key: task.id,
        highlight: getHighlightByUser(task.from),
        dates: new Date(task.date),
        popover: {
          label: `From: ${task.from}`,
        },
      }))
    },
  },

  methods: {
    handleDayClick({ date }) {
      const task = this.tasks.find(t => t.date === date.getTime())
      this.selectedTask = task
    },

    removeSelectedTask() {
      this.tasks = this.tasks.filter(t => t.id !== this.selectedTask.id)
      this.selectedTask = null

      save(this.tasks, MY_TASKS_KEY)
    },
  },
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/_variables.scss';
.calendar {
  position: relative;
  padding: 0 6px;
  height: 626px;
  overflow-y: auto;
  &__title {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 6px;
    display: block;
    color: $textColor;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
  }
}
</style>
