<template>
  <div id="app">
    <div class="phone">
      <div class="phone__content">
        <div class="phone__content-active">
          <TheChat v-if="activeTab === 'chats'" />
          <TheMarket v-if="activeTab === 'market'" />
          <TheCalendar v-if="activeTab === 'calendar'" />
        </div>
        <div class="phone__content-menu">
          <b-button
            v-for="tab in tabs"
            :key="tab"
            size="is-small"
            expanded
            :type="`is-rounded ${tab === activeTab ? 'is-primary' : 'is-primary is-light'}`"
            @click="activeTab = tab"
          >
            {{ tab | capitalize }}
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheChat from '@/components/TheChat/TheChat.vue'
import TheMarket from '@/components/TheMarket/TheMarket.vue'
import TheCalendar from '@/components/TheCalendar/TheCalendar.vue'

export default {
  name: 'App',
  components: {
    TheChat,
    TheMarket,
    TheCalendar,
  },
  data() {
    return {
      activeTab: 'chats',
      tabs: ['chats', 'calendar', 'market'],
    }
  },
}
</script>

<style lang="scss" scoped>
.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./assets/images/phone.png');
  width: 374px;
  height: 753px;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    position: absolute;
    width: calc(100% - 46px);
    height: calc(100% - 32px);
    left: 24px;
    top: 10px;
    border-radius: 33px;
    padding: 38px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-active {
      height: 100%;
      width: 100%;
    }
    &-menu {
      display: flex;
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;
      justify-content: space-around;
      margin: 0 6px;
      & > * {
        margin: 0 6px;
      }
    }
  }
}
</style>
