code {
  background: transparent;
  color: $textColor;
  font-size: 12px;
  padding: 0;
}

a {
  color: $primaryColor;
  transition: 0.2s ease;
  &:hover {
    color: lighten($primaryColor, 10%);
  }
}